button {
  height: 30px;
  width: 30px;
  outline: none;
}

body {
  width: 780px;
  max-width: 750px;
  height: 100vh;
}

form {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.input-group {
  margin-top: 5px;
}

.bar {
  width:100%;
  overflow:hidden;
  display:inline-block;
  width:auto;
}

.bar .bar-item {
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0
}
.button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
